@import "../../../src/styles/breakpoints.scss";
@import "../../../src/styles/variables.scss";

.footer {
  background: $green;
  padding: 40px 0px 40px 0px;
  margin-top: 60px;
  @include bp-tablet-sm {
    margin-top: 20px;
  }
  p,
  a {
    color: $white;
    @include bp-tablet-sm {
      justify-content: start !important;
    }
  }
  .siteLink {
    font-size: 12px;
    a {
      margin-top: -20px;
      font-size: 12px;
    }
  }
}
